.button{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 50px;
margin-left: 70px;
background-color: red;
color: white;
font-size: x-large;
padding: 10px 20px;
border: 2px solid #007bff;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
text-align: center;
}

.button:hover {
    background-color: #ffc107; /* Sarı renk */
    color: white; /* Yazı rengini beyaza dönüştürür */
  }

  body{
    width: auto;
    height: auto;
    background-image: url('https://images5.alphacoders.com/134/1346595.jpeg');
  }

  .ulcontainer{
    display: flex;
    left: 0;
    top: 0;
    margin-bottom: 100px;
    gap: 15px;
  }

  .h1tag{
    top: 0;
    left: 0;
  }

  .homediv{
    display: flex;
    gap: 25px;
    margin-left: 30px;
  }